{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission">
    <div class="mission-top-row">
        <h1 style="margin-bottom: 0%;">PRESIDENT OF SPORTS PSYCHOLOGY ASSOCIATION OF INDIA</h1>
    </div>
    <div class="mission-vission">
        <div class="m-v-container">
            <div style="display: flex;align-items: center;">
                <!-- <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/football1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/football2.svg' %}" alt="">
                </div> -->
                
            </div>
            <div class="president-wrapper">
                <div class="president-pic">
                    {% if president and president.image %}
                        <img src="{{ president.image.url }}" alt="{{ president.name }}">
                    {% else %}
                        <img src="{% static 'image/PRESIDENT.png' %}" alt="President placeholder">
                    {% endif %}
                </div>
                <div class="president-content">
                    <h2 style="margin: 0%;">{{ president.name|default:"President" }}</h2>
                    <div class="positext">
                        {{ president.role|default:"President of SPAI" }}
                    </div>
                    <p>
                        {% if president and president.description %}
                            {{ president.description|linebreaks }}
                        {% else %}
                            Details will be updated soon.
                        {% endif %}
                    </p>
                </div>
            </div>
            
        </div>

    </div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}