{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
  <link rel="stylesheet" href="{% static 'css/sub/header.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sub/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sub/content.css' %}" />
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block content %}
  <div class="about-container mission run-repeat">
    <div class="mission-top-row">
      <h1 style="margin-bottom: 0%;">PREVIOUS COUNCIL MEMBERS OF SPAI</h1>
    </div>
    <div class="mission-vission">
      {% for member in previous_members %}
        <div class="m-v-container">
          <div style="display: flex;align-items: center;"></div>
          <div class="president-wrapper">
            <div class="president-pic">
              {% if member.image %}
                <img src="{{ member.image.url }}" alt="{{ member.name }}" />
              {% else %}
                <img src="{% static 'image/profile-icon.svg' %}" alt="placeholder" />
              {% endif %}
            </div>
            <div class="president-content">
              <h2>{{ member.name }}</h2>
              <div class="positext">Previous {{ member.role }} of SPAI</div>
              <p>{{ member.description|linebreaks }}</p>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No previous council members found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
  <script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}
