{% extends 'main.html' %}

{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
{% endblock %}

{% block header %}

{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="about-container mission run-repeat">
    <div class="mission-top-row">
        <h1>REGIONAL SECRETARY OF SPORTS PSYCHOLOGY ASSOCIATION OF INDIA</h1>
    </div>

    <div class="regional mission-vission">
        {% for region_name, members in regions_list %}
        <div class="reg m-v-container">
            <div style="display: flex;align-items: center;">
                <div class="mission-icon">
                    <img class="pic-on" src="{% static 'image/navigation1.svg' %}" alt="">
                    <img class="pic-off" src="{% static 'image/navigation2.svg' %}" alt="">
                </div>
                <h3 style="margin-left: 10px;">{{ region_name }}</h3>
            </div>

            {% for member in members %}
            <div class="president-wrapper">
                <div class="president-pic" style="margin-top: 0%;margin-right: 10px;">
                    {% if member.image %}
                        <img src="{{ member.image.url }}" alt="{{ member.name }}">
                    {% else %}
                        <img src="{% static 'image/profile-icon.svg' %}" alt="placeholder">
                    {% endif %}
                </div>
                <div class="president-content">
                    <h2 style="margin-bottom: 0%;margin-top: 30px;">{{ member.name }}</h2>
                    <i>{{ member.role }} <br>
                        {{ member.description|linebreaksbr }}
                    </i>

                </div>
            </div>
            {% endfor %}

        </div>
        {% empty %}
        <p>No regional secretaries found.</p>
        {% endfor %}

    </div>

</div>


</div>

</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}