{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<style>
    /* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Black background with opacity */
    background-color: rgba(0, 0, 0, 0.4); /* Add a slight transparency */
}

.modal-content {
    border-radius: 8px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgb(218, 0, 0);
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.message-body {
    margin: 10px 0;
}

</style>
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/home/about.css' %}">
<link rel="stylesheet" href="{% static 'css/home/assosiate.css' %}">
<link rel="stylesheet" href="{% static 'css/home/executive.css' %}">
<link rel="stylesheet" href="{% static 'css/home/hero.css' %}">
<link rel="stylesheet" href="{% static 'css/home/news.css' %}">
<link rel="stylesheet" href="{% static 'css/home/message.css' %}">
<link rel="stylesheet" href="{% static 'css/home/maths.css' %}">
<link rel="stylesheet" href="{% static 'css/home/context_mess.css' %}">
<link rel="stylesheet" href="{% static 'css/home/contactus.css' %}">
<link rel="stylesheet" href="{% static 'css/home/testimonals.css' %}">
<link rel="stylesheet" href="{% static 'css/home/breaking.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


{% endblock %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block content %}

{% if messages %}
<div id="messageModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <div class="message-body">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if request.user.is_authenticated and request.user.status == 'user_created' %}
<div class="information-text-right">
    <p><span>Hi {{request.user.first_name}} {{request.user.last_name}}, </span>
        <a class="scrolling-text" href="{% url 'user_profile_details' %}" style="text-decoration: none;">click here</a>
        to complete your profile.
    </p>
</div>
{% endif %}

{% if request.user.is_authenticated and request.user.status == 'payment_pending' %}
<div class="information-text-right">
    <p><span>Hi {{request.user.first_name}} {{request.user.last_name}}, Payment for life membership is pending.</span>
        <a class="scrolling-text" href="{% url 'payment_model' request.user.slug_value %}"
            style="text-decoration: none;">click here</a>
        to complete your payment.
    </p>
</div>
{% endif %}
{% if request.user.is_authenticated and request.user.status == 'admin_approved' and request.user.annual_subscription is False %}
<div class="information-text-right">
    <p><span>Hi {{request.user.first_name}} {{request.user.last_name}}, you don't have SPAI annual subscription.</span>
        <a class="scrolling-text" href="{% url 'annual_sub_payment' request.user.slug_value %}"
            style="text-decoration: none;">click here</a> to Subscribe. If you are submitted documents please wait for admin approval
    </p>
</div>
{% endif %}
<div class="breaking-news">
    <div class="breaking-news-wrapper">
        <div class="breaking-news-content">
            <span></span>
            <span></span>
            <span></span>
            {% for event in events %}
            <span>🚨 {{event.title}}, {{event.location}} — 📢 <a style="color:yellow;" href="{{event.link}}">click here</a> to register </span>
            {% endfor %}
<!--            <span>🚨 {{event_name}}, {{event_location}} — 📢 <a target="_blank" style="color:yellow;" href="{{event_reg_link}}">click here</a> to register </span>-->
<!--            <span>🚨 {{event_name}}, {{event_location}} — 📢 <a target="_blank" style="color:yellow;" href="{{event_reg_link}}">click here</a> to register </span>-->
<!--            <span>🚨 Breaking News: Stock markets hit an all-time high! — 🚀 AI technology revolutionizing industries! — 🌍 Global summit on climate change starts today! — 📢 New policies announced for startups! </span>-->
<!--            <span>🚨 Breaking News: Stock markets hit an all-time high! — 🚀 AI technology revolutionizing industries! — 🌍 Global summit on climate change starts today! — 📢 New policies announced for startups! </span>-->

            <!--            <span>🚨 Breaking News: Stock markets hit an all-time high! — 🚀 AI technology revolutionizing industries! — 🌍 Global summit on climate change starts today! — 📢 New policies announced for startups! </span>-->
        </div>
    </div>
</div>


<div class="hero">
    <div class="hero-pic">
        <!-- <img class="full-width-img" src="{% static 'image/swim.png' %}" alt="Image 1"> -->

        <!-- <img class="full-width-img" src="{% static 'image/weight.jpg' %}" alt="Image 2">
        <img class="full-width-img" src="{% static 'image/tennis.jpg' %}" alt="Image 1">
        <img class="full-width-img" src="{% static 'image/bgfootball.jpg' %}" alt="Image 2"> -->
        <img class="full-width-img" src="{% static 'image/display_img5.jpg' %}" alt="Image 1">
        <img class="full-width-img" src="{% static 'image/display_img2.jpg' %}" alt="Image 2">
        <!-- <img class="full-width-img" src="{% static 'image/DISPAY_IMG_1.jpg' %}" alt="Image 1">
        <img class="full-width-img" src="{% static 'image/DISPAY_IMG_2.jpg' %}" alt="Image 2"> -->
        <img class="full-width-img" src="{% static 'image/DISPAY_IMG_3.jpg' %}" alt="Image 3">
        {% for event in upcoming_events %}
        <img class="full-width-img" src="{{ event.image.url }}" alt="Image {{ event.id }}">
        {% endfor %}
        <div class="vertical-line">
            <span class="dot above" style="top: -2px;"></span>
            <span class="dot above"></span>
            <span class="dot above" style="top: -30px;"></span>
            <span class="dot above" style="top: -45px;"></span>
            <span class="dot below" style="bottom: -2px "></span>
            <span class="dot below"></span>

        </div>
    </div>
    <div class="hero-texts">
        <div class="hero-text active">
            <div class="welcome">
                WELCOME<br>
                TO<br>
                <div class="spai">SPAI</div>
            </div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'about_page' %}?page=about_spai">
                <div class="jointoday">
                    <div class="jointodaytext">
                        Learn More
                    </div>
                </div>
            </a>
            <div class="downarrow">
                <img src="{% static 'image/doubledownarroow.svg' %}" alt="">
            </div>
        </div>
        <div class="hero-text">
            <div class="welcome">
                <div class="spai">JOIN
                    SPAI
                </div>
            </div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'user_registration' %}">
                <div class="jointoday">
                    <div class="jointodaytext">
                        Join Today
                    </div>
                </div>
            </a>
            <div class="downarrow">
                <img src="{% static 'image/doubledownarroow.svg' %}" alt="">
            </div>
        </div>
        <div class="hero-text">
            <div class="welcome">
                <div class="spai">JOIN
                    SPAI
                </div>
            </div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'user_registration' %}">
                <div class="jointoday">
                    <div class="jointodaytext">
                        Join Today
                    </div>
                </div>
            </a>
            <div class="downarrow">
                <img src="{% static 'image/doubledownarroow.svg' %}" alt="">
            </div>
        </div>
        {% for event in upcoming_events %}
        <div class="hero-text">
            <div class="welcome">
                READ<br>
                THE<br>
                <div class="spai">EVENT</div>
            </div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'news_detail' event.id %}">
                <div class="jointoday">
                    <div class="jointodaytext">
                        Read
                    </div>
                </div>
            </a>
            <div class="downarrow">
                <img src="{% static 'image/doubledownarroow.svg' %}" alt="">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="grady"></div>
    <div class="maths">
        <div class="item">
            <h4>Athletes</h4>
            <h1>1900+</h1>
        </div>
        <hr class="custom-hr">
        <div class="item">
            <h4>Experts</h4>
            <h1>45+</h1>
        </div>
        <hr class="custom-hr">
        <div class="item">
            <h4>Professionals</h4>
            <h1>35+</h1>
        </div>
        <hr class="custom-hr">
        <div class="item">
            <h4>Members</h4>
            <h1>700+</h1>
        </div>
    </div>
</div>
<div class="about">
    <h1>ABOUT US</h1>
    <div class="about-content">
        <div class="aboutimg">
            <img src="{% static 'image/aboutrun.png' %}" alt="">
        </div>
        <div class="about2">
            <div class="about-text">
                <p style="line-height: 32px;font-size: 22px;font-weight: 500;font-family: 'Oswald', serif;text-align: justify;">The Sports Psychology Association of India (SPAI) is a professional organization dedicated to
                    promoting the field of sports psychology in India. Its mission is to enhance athletic performance
                    and mental well-being through the application of psychological principles in sports. Sports
                    Psychology Association of India plays a crucial role in advancing research, providing training for
                    professionals, and raising awareness about the importance of mental conditioning and psychological
                    support in sports. It organizes workshops, conferences, and educational programs to foster
                    collaboration among athletes, coaches, sports psychologists, and researchers across the country.
                </p>
            </div>
            <a style="text-decoration: none; color: inherit;" href="{% url 'about_page' %}?page=about_spai">
                <div style="margin-left: 68px;" class="about-seemore">
                    <div class="about-seemoretext">
                        See More
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<div class="message animated" style="margin-top: 20px;">
    <div class="msg-head">
        <h1>Message from the President </h1>
    </div>
    <div class="msg-content">
        <div class="msg-pic">
            <img src="{% static 'image/msg_pre_ed.png' %}" alt="">
        </div>
        <div class="msg">
            <img src="{% static 'image/msg.svg' %}" alt="">
            <h6>Greetings from SPAI.</h6>
            <p>
                I am excited to update you regarding the activities of Sports Psychology Association of India (SPAI).
                Ever since the formation of SPAI in 1985, the organization has made its existence as per the objectives
                of the association. With more than 700 life members and five regional secretaries, SPAI looks forward to
                having a calendar of activities across the country to spread the message of SPAI and to build expertise
                and provide service of sports psychology to all budding sportspersons</p>


            <p>The SPAI annual conference brings in all applied practitioners who work across various professional
                fields and sports, where they share their expertise and best practices; provide professional exposure to
                upcoming sports psychologists, grow better job opportunities and provide networking for future
                directions in the practicing field.</p>

            <p>SPAI aims to spread awareness and knowledge and provide expert consultancy and services through its
                pioneering members, practitioners in the field and through academic programmes and resources through its
                publication unit and web resources.</p>

            <p>SPAI has in its future agenda to support young aspiring sports psychologist by providing internships and
                fellowships and awards for academic and research in the field.</p>

            <p>With plenty of new happenings proposed by the executive council of SPAI, we would continue to advance the
                organizational activity and the field of practice. We look forward for collaboration from institutions
                and like mined associations for mutually beneficial programme and action plans.</p>

            <p>Look forward for future updates on sports psychology and let us work together for better prosperity and
                success in the field</p>
            </p>
        </div>
    </div>
</div>
<div class="message animated" style="margin-top: 20px;">
    <div class="msg-head">
        <h1>Message from Secretary General</h1>
    </div>
    <div class="msg-content sec">
        <div class="msg">
            <img src="{% static 'image/msg.svg' %}" alt="">
            <p>Indian sports performance often highlights the phrase “so close yet so far” especially in major sporting
                events like Olympic Games, Commonwealth Games ad World Championships. Among the various factors, the
                mental strength and lack of professional mental support and preparation has often been questioned
                recently.</p>
            <p>SPAI, the pioneer association of Sports Psychology in India with its affiliation with International
                Society of Sports Psychology (ISSP) and ASPAP understands the organisational responsibility in turning
                the tables and letting better podium finish for Indian athletes.</p>
            <p>With the initiation of certification programme, Sports Psychology Association of India aims to provide
                resources, training and create a platform for sports psychologists to get equipped, grow, develop,
                network and collaborate for supporting Indian sports. Strengthening collaborations between sports
                federations, sports academies, training centres, and sports science professionals, could enhance its
                impact. Additionally, organizing workshops and seminars could help educate coaches, athletes, and
                parents about the benefits of sports psychology. </p>
            <p>The time and considerable energy devoted to strategic execution of SPAI projects and schemes, and diverse
                committees constituted, which are updated on the website would enable better functioning of the
                association. The continued publication of our official journal and the organising of the prestigious
                annual national conference needs to be prioritised and taken up in the best interests and progress of
                the association.</p>
            <p>Considering the opportune to engage with SPAI, and continued relationship and interactive reciprocal
                communication lets make our growth more exiting.</p>
            </p>
        </div>
        <div class="msg-pic">
            <img src="{% static 'image/msg_sec.png' %}" alt="">
        </div>

    </div>
</div>
<div class="news">
    <div class="news-title">
        News & Events
    </div>
    <div class="swiper news-containers">

        <div class="swiper-wrapper" style="margin-bottom: 30px;">
            {% for event in upcoming_events %}
            <div class="swiper-slide">
                <div class="news-container">
                    <div class="news-img">
                        {% if event.datetime|date:"Y-m-d" == event.end_date|date:"Y-m-d" %}
                        <div class="news-new">{{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }}</div>
                        {% else %}
                        <div class="news-new">
                            {{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }} -
                            {{ event.end_date|date:"d" }} {{ event.end_date|date:"F" }}
                        </div>
                        {% endif %}
                        <img src="{{ event.image.url }}" alt="">
                    </div>
                    <div class="news-dis">
                        {% if event.datetime|date:"Y-m-d" == event.end_date|date:"Y-m-d" %}
                        {{ event.datetime|date:"Y" }} , {{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }} {{event.datetime|time }}
                        {% else %}
                        {{ event.datetime|date:"Y" }} , {{ event.datetime|date:"d" }} {{ event.datetime|date:"F" }} {{event.datetime|time }} - {{ event.end_date|date:"d" }} {{ event.end_date|date:"F" }}
                        {% endif %}
                    </div>
                    <div class="news-head" style="text-transform: uppercase;">
                        {{ event.title }}
                    </div>
                    <a style="text-decoration: none; color: inherit;" href="{% url 'news_detail' event.id %}">
                        <div class="news-read">
                            <p>Read</p>
                            <img class="default-image" src="{% static 'image/arrowread.svg' %}" alt="">
                            <img class="hover-image" src="{% static 'image/arrowreadwhite.svg' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <!-- <div class="swiper-button-prev"></div> -->

    </div>
    <div style="display: flex; justify-content: center;width: 100%;">
        <a style="text-decoration: none; color: inherit;" href="{% url 'news' %}">
            <div class="news-seemore">
                <div class="seemoretext">
                    See More
                </div>
            </div>
        </a>
    </div>
</div>
<div class="testimonals animated">
    <div class="happy-clients">
        <div class="round first-r">

        </div>
        <div class="round second-r">

        </div>
        <h1>Happy Clients <br> of the spai</h1>
        <a href="{% url 'add_testimonals' %}">
            ADD TESTIMONIALS
        </a>
        {% if request.user.is_superuser or request.user.executive == 1 or request.user.executive == 2 %}
        <a href="{% url 'view_testimonials' %}" style="margin-top: 10px;">
            VIEW TESTIMONIALS
        </a>
        {% endif %}
    </div>
    <div class="test-images">
        <img src="{% static 'image/test/01.jpg' %}" alt="">
        <img src="{% static 'image/test/02.jpg' %}" alt="">
        <img src="{% static 'image/test/03.jpg' %}" alt="">
        <img src="{% static 'image/test/04.jpg' %}" alt="">
    </div>

    <!-- <div class="green-container">
        <div class="test-pic">
            <img src="{% static 'image/contact-us.jpeg' %}" alt="">
        </div>
        <img src="{% static 'image/quote1.svg' %}" alt="">
        {% for test in testimonials %}
        <div class="test-content">           
            <p>{{test.message}}</p>
            <div class="test-auther">
                - {{test.name}}
            </div>
        </div>
        {% endfor %}
        <div class="test-arrows">
            <img src="{% static 'image/test-back.svg' %}" alt="">
            <img src="{% static 'image/test-next.svg' %}" alt="">
        </div>

    </div>
    <div style="height: 200px" class="green-container">
        <div class="test-pic">
            <img src="{% static 'image/contact-us.jpeg' %}" alt="">
        </div>
        <img src="{% static 'image/quote1.svg' %}" alt="">
        {% for test in testimonials %}
        <div class="test-content">           
            <p>{{test.message}}</p>
            <div class="test-auther">
                - {{test.name}}
            </div>
        </div>
        {% endfor %}
        <div class="test-arrows">
            <img src="{% static 'image/test-back.svg' %}" alt="">
            <img src="{% static 'image/test-next.svg' %}" alt="">
        </div>

    </div>
    <div class="green-container">
        <div class="test-pic">
            <img src="{% static 'image/contact-us.jpeg' %}" alt="">
        </div>
        <img src="{% static 'image/quote1.svg' %}" alt="">
        {% for test in testimonials %}
        <div class="test-content">           
            <p>{{test.message}}</p>
            <div class="test-auther">
                - {{test.name}}
            </div>
        </div>
        {% endfor %}
        <div class="test-arrows">
            <img src="{% static 'image/test-back.svg' %}" alt="">
            <img src="{% static 'image/test-next.svg' %}" alt="">
        </div>

    </div> -->
</div>

<div class="test-flex">
    {% for test in testimonials %}
    <div class="green-container">
        <div class="test-pic">
            <img src="{% static 'image/contact-us.jpeg' %}" alt="">
        </div>
        <img src="{% static 'image/quote1.svg' %}" alt="">
        <div class="test-content">
            <p>{{test.message}}</p>
            <div class="test-auther">
                - {{test.name}}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<div class="contact-us animated">
    <div class="contact-us-row">
        <h2>Contact us</h2>
        <h6>we are all about spai online</h6>
    </div>
    <form action="{% url 'contact_us' %}" method="POST">
        {% csrf_token %}
        <div class="contact-us-grid-wrapper">
            <div class="contact-us-grid">
                <input name="name" type="text" placeholder="Your Name">
                <input type="text" name="email" placeholder="Your Email">
                <input type="text" name="phone" placeholder="Your Phone">
            </div>
            <div class="contact-us-grid">
                <textarea placeholder="Your Message" name="message" id=""></textarea>
            </div>
        </div>
        <div class="contact-us-row">
            <div class="g-recaptcha" style="margin-bottom:10px;" data-sitekey="6Le2dcsqAAAAAKcAqpxmcjP5k3ZQoAN8D-ZDzXwI"></div>
            <input type="submit" value="SEND MESSAGE">
            {% if request.user.is_superuser or request.user.executive == 1 or request.user.executive == 2 %}
            <a style="padding:7px;color:white;font-size:12px;text-align:center;margin-top:10px;font-weight: 600;background-color: rgb(0, 0, 0);border-radius: 5px;" href="{% url 'view_contact_us' %}">View Queries</a>
            {% endif %}
        </div>
    </form>
    <div class="contact-us-row2">
        <div class="contact-pres">
            <div class="contact-pic">
                <img src="{% static 'image/contact-us.jpeg' %}" alt="">
            </div>
            Dr.Anil Karwande <br>
            President of SPAI
        </div>
        <div class="contact-pres">
            <div class="contact-pic">
                <img src="{% static 'image/contact-us.jpeg' %}" alt="">
            </div>
            Prof Anil Ramachandran <br>
            Secretary General of SPAI
        </div>
        <div class="contact-pres" style="text-align: center;">
            <div class="contact-pic">
                <img src="{% static 'image/contact-us.jpeg' %}" alt="">
            </div>
            Prof (Dr.) Mahendra Kumar Singh <br>
            Finance Secretary of SPAI
        </div>
    </div>
</div>
<div class="associate">
    <div class="associate-title">
        Associated Partners
    </div>
    <div class="associate-containers">
        <div class="associate-container">
            <img src="{% static 'image/asso3.svg' %}" alt="">
        </div>
        <div class="associate-container">
            <img src="{% static 'image/asso2.svg' %}" alt="">
        </div>
        <div class="associate-container">
            <img src="{% static 'image/asso1.svg' %}" alt="">
        </div>
    </div>
</div>
<div class="executive">
    <div style="margin-top: 80px;" class="associate-title">
        EXECUTIVE BODY
    </div>
    <div class="swiper executie-containers">
        <div class="swiper-wrapper" style="margin-bottom: 30px;">
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/PRESIDENT.png' %}" alt="">
                    </div>
                    <div class="exe-text" style="text-align: left;">
                        Dr. ANIL KARWANDE

                    </div>
                    <div class="exe-posi">
                        President
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/secretary.jpg' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) ANIL RAMACHANDRAN
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">
                        Secretary General
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/TREASURER.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) MAHENDRA KUMAR SINGH
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">
                        Finance Secretary of SPAI
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/Kamlesh.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) M.L.KAMLESH
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">
                        Patron
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/5.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. ANURADHA. S. SOLANKY
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/6.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. ARAVIND JHA
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/7.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Sr. Prof. DILIP KUMAR DUREHA
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/8.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. JOLLY ROY
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/9.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) LALIT SHARMA
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/10.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. STALIN RAPHEL
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/11.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) R. K. YADAV
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/12.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. AMANENDRA MANN
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/13.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. MEGHA SAHU
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/14.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) SAMIRAN CHAKRABORTHY
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/15.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Prof (Dr.) SAMBHU PRASAD
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/16sudarsan.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. SUDARSAN BISWAS
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/17.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. KRISHNAKANT
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/18.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. MOHAMMAD ASHRAF KHAN
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/19.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. ARAVIND JOSHI
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="executie-container">
                    <div class="exe-img">
                        <img src="{% static 'image/committee/20.png' %}" alt="">
                    </div>
                    <div class="exe-text">
                        Dr. SHAHIN AHMED
                        <!-- <img class="exe-email" src="{% static 'image/email.svg' %}" alt="">
                        <img class="exe-phone" src="{% static 'image/Vector.svg' %}" alt=""> -->
                    </div>
                    <div class="exe-posi">

                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</div>
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    var swiper = new Swiper('.news-containers', {
        slidesPerView: 1.2, // You can set this to 'auto' for responsive slides
        spaceBetween: 2,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            478: {
                slidesPerView: 1.5, // 2 slides on tablets

            },
            580: {
                slidesPerView: 1.8, // 2 slides on tablets

            },
            680: {
                slidesPerView: 2.2, // 2 slides on tablets

            },
            768: {
                slidesPerView: 2, // 2 slides on tablets

            },
            879: {
                slidesPerView: 2.3
            },
            980: {
                slidesPerView: 2.6
            },
            1110: {
                slidesPerView: 3.2, // 3 slides on desktops

            },
        },
        autoplay: {
            delay: 3000, // Time between slides (in milliseconds)
            disableOnInteraction: false, // Keeps autoplay active even after user interaction

        },
        speed: 400,
        loop: true, // Enable loop mode if required
    });
    var swiper2 = new Swiper('.executie-containers', {
        slidesPerView: 1.2, // You can set this to 'auto' for responsive slides
        spaceBetween: 2,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {
            400: {
                slidesPerView: 1.5,
            },
            480: {
                slidesPerView: 1.8,
            },
            580: {
                slidesPerView: 2.2,
            },
            679: {
                slidesPerView: 2.5,
            },
            863: {
                slidesPerView: 3,
            },
            951: {
                slidesPerView: 3.3,
            },
            1137: {
                slidesPerView: 3.85, // 3 slides on desktops

            },

        },

        speed: 400,
        // loop: true, // Enable loop mode if required
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    let images = document.querySelectorAll(".test-images img");
    let index = 0;

    // Function to switch images
    function switchImage() {
        images.forEach((img) => img.classList.remove("active")); // Remove active class from all
        images[index].classList.add("active"); // Add active class to current image
        index = (index + 1) % images.length; // Loop back after last image
    }

    // Initialize first image
    images[0].classList.add("active");

    // Run the function every 3 seconds
    setInterval(switchImage, 3000);
});

</script>
<script>
    // Function to close the modal
    function closeModal() {
        document.getElementById("messageModal").style.display = "none";
    }

    // Display the modal when the page loads (only if messages exist)
    window.onload = function() {
        {% if messages %}
        document.getElementById("messageModal").style.display = "block";
        {% endif %}
    }
</script>
<script type="text/javascript" src="{% static 'js/new_home.js' %}"></script>
{% endblock %}