{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/sub/header.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content.css' %}">
<link rel="stylesheet" href="{% static 'css/sub/content2.css' %}">
<link rel="stylesheet" href="{% static 'css/new/journel.css' %}">
<link rel="stylesheet" href="{% static 'css/home/contactus.css' %}">
<style>
    .pub-items-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    margin: 30px ;
}

.pub-item {
    background-color: #3e26a5;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pub-item span{
    text-align: center;
    color: white;
    font-size: larger;
}
</style>
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="journel-nav">
    <div class="cotting">
        <h1>Indian journal of sports Psychology</h1>
        <h1 style="font-size: 36px;"> (ISSN : 2320-2904)</h1>
        <div class="navbar2">
            <ul class="navbar2-menu">
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=about_spai_journal">About SPAI Journal</a></li>
                <li class="navbar2-item"><a href="{% url 'call_for_manuscript' %}">Call for Manuscript</a></li>
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=journal_archives">Journal Archives</a></li>
                <li class="navbar2-item"><a href="{% url 'publications' %}?page=editorial">Editorial Board Members</a></li>
                <li class="navbar2-item">
                    <form action="{% url 'manuscript_search' %}" method="GET" class="navbar2-search-form">
                        <input type="text" name="query" class="navbar2-search" placeholder="Search...">
                        <button type="submit" class="navbar2-search-btn">
                            <img src="{% static 'image/new/search.svg' %}" alt="Search">
                        </button>
                    </form>
                </li>   
            </ul>
        </div>
        
        
        
    </div>
        
    
</div>
<div class="pub-items-con ">
    <div class="pub-item"><span>IJSEP</span></div>
    <div class="pub-item"> <span>BOOK SERIES</span></div>
    <div class="pub-item"><span>POSITION PAPERS</span></div>
    <div class="pub-item"><span>NEWS</span></div>
</div>
<div class="about-container run-repeat">
    <div class="about">
        <h1>INTRODUCTION OF SPAI JOURNAL </h1>
        <div class="about-content">
            <p style="text-indent: 0%;">SPAI has instituted two channels of communication. First, a newsletter to highlight its achievements for
                the information of the members as well as the academic world in the country. After a few issues, limited
                resources did not allow it to be published anymore, at least for the time being. Second, after a
                persistent discussion and debate over years, SPAI launched its own journal named Indian Journal of Sport
                Psychology in January at the XXII National Conference of Sport Psychology in Irinjalakuda, Trissur,
                Kerala in January 2013. </p>
            <p style="text-indent: 0%;">M. L. Kamlesh was persuaded to take up the responsibility of being its editor-in-chief with a five-member
                editorial board. Notwithstanding the initial teething troubles and continued hiccups especially on three
                accounts: (i) financial management, (ii) hesitation of the research scholars to contribute research
                papers for publication, and (iii) status of the journal vis-à-vis other scientific journals published in
                India and abroad, only three issues could be published during 2013-14. Th effort is afoot to revive both
                publications.</p>
        </div>
        <a href="{% static 'docs\Journal front page.pdf' %}" class="explore" target="_blank">
            Explore journal
        </a>
    </div>
    
</div>
<div class="contact-us animated">
    <div class="contact-us-row">
        <h2>Do You Have any Queries ?</h2>
    </div>
    <form action="{% url 'journal_queries' %}" method="POST">
        {% csrf_token %}
        <div class="contact-us-grid-wrapper">
            <div class="contact-us-grid">
                <input name="name" type="text" placeholder="Your Name">
                <input type="text" name="email" placeholder="Your Email">
                <input type="text" name="phone" placeholder="Your Phone">
            </div>
            <div class="contact-us-grid">
                <textarea placeholder="Your Message" name="message" id=""></textarea>
            </div>
        </div>

        <div class="contact-us-row">
            <input type="submit" value="Send Message">
            {% if request.user.is_superuser or request.user.executive == 1 or request.user.executive == 2 %}
            <a style="padding:7px;color:white;font-size:12px;text-align:center;margin-top:10px;font-weight: 600;background-color: rgb(0, 0, 0);border-radius: 5px;" href="{% url 'view_journal_query' %}">View Queries</a>
            {% endif %}
        </div>
    </form>
</div>


{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
{% block jsfile %}
<script type="text/javascript" src="{% static 'js/sub/news.js' %}"></script>
{% endblock %}